<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
      {{title}}
    </a>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-search class="mr-5 ml-5" (symbolEvent)="receiveSymbol($event)"></app-search>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-8">
      <app-chart [symbol]="symbol"></app-chart>
    </div>
    <div class="col-md-3">
      <app-quote></app-quote>
    </div>
  </div>
</div>
<router-outlet></router-outlet>