<form>
  <div class="input-group">
    <input #searchBox [(ngModel)]="symbol" type="text" class="form-control" name="symbol" placeholder="Start typing ticker/company name and press enter for suggestions (ex:- MSFT/microsoft)"
      (keyup.enter)="generateList(searchBox.value)"/>
    <button type="button" class="btn btn-primary" (click)="sendSymbol()"><i class="fa fa-search">Search</i></button>
  </div>
  <ul class="list-group list-group-flush pt-0 pb-0" [hidden]="isHidden">
    <div *ngFor="let name of nameData">
      <div class="list-group-item d-flex align-items-center" (click)="populateSearch(name.symbol)">
        <h5>{{name.symbol}}</h5>
        <h6 class="ml-auto pl-5">{{name.name}}</h6>
      </div>
    </div>
  </ul>
</form>
<hr>